<div align="center">

    <h1>login</h1>
    <h3 style="color:green;">{{form.message}}</h3>  
    <form (submit)="signup()">
        <table>
            <tr>
                <th>Login</th>
                <td><input type="text" name="loginId" [(ngModel)]="form.data.loginId" placeholder="enter your login">
                </td>
                <td><span style="color:red" *ngIf="form.inputerror.loginId">{{form.inputerror.loginId}}</span></td> 
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" name="password" [(ngModel)]="form.data.password"
                        placeholder="enter your password"></td>
                        <td><span style="color:red" *ngIf="form.inputerror.password">{{form.inputerror.password}}</span></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="login"></td>
            </tr>
        </table>     